.col-xs-9
  %h2 Listing categories

  -if categories.any?
    %table.table.table-striped
      %tr.row
        %th.col-xs-10 Name
        %th.col-xs-2.text-right
          - if current_user.try(:admin?)
            Actions
      - categories.each do |category|
        %tr.row
          %td.col-xs-10= link_to(category.name, category)
          %td.col-xs-2.text-right
            - if current_user.try(:admin?)
              = link_to(content_tag(:span,'',class:'glyphicon glyphicon-edit'), edit_category_path(category))
              = link_to(content_tag(:span,'',class:'glyphicon glyphicon-remove'), category, method: :delete, data: { confirm: 'Are you sure?' })
  -else
    No Categories
.col-xs-3
  - if current_user.try(:admin?)
    %h3 New category
    = render 'form'
