-content_for :breadcrumb do
  %li= link_to 'Categories', categories_path
  %li= link_to category.name, category
  %li= link_to product.title, category_product_path(category, product)

.row
  %h1 Editing product

  = render 'form'
